body{
  background-color: rgba(231, 218, 197, 0.611);
}


h2 {
  text-align: center;
  border: 0px solid black;
  height: 20px;
  width: 1450px;
  margin: -170px 90px 0px 10px;
  padding: 20px 10px 35px 10px;
  position: fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  border-radius: 15px;
  background: url(https://wallpaperaccess.com/full/5668713.jpg);
  background-repeat: no-repeat;
  background-size: 1500px;
}
.search {
  position: fixed;
  border: 2px solid black;
  text-align: center;
  justify-content: center;
  margin: -68px 560px 0px 600px;
  padding: 10px 80px 10px 80px;
  border-radius: 15px;
  background-color: whitesmoke;
}
.pages {
  position: fixed;
  border: 0px solid rgb(249, 248, 248);
  height: 607px;
  text-align: left;
  margin: -62px 60px 200px 13px;
  padding: 10px;
  display: flex;
  width:170px;
  flex-direction: row;
  background-color:rgb(202, 193, 181);
  border-radius: 12px;
}
.Homepage {
  text-align: center;
  border: 0px solid grey;
  padding: 350px 0px 0px 0px;
  height: 380px;
  width: 1200px;
  margin: 170px 0px 0px 250px;
  justify-content: center;
  /* background-size: 1300px; */
  display: flex;
  background-color:rgb(202, 193, 181);
  border-radius: 20px;
}


.book-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px; 
  height: 700px;
  padding: 10px 70px 30px 100px;
  max-width: 1000px;
  width: 1900px;
}

h3 {
  font-size: 40px;
  /* border: 2px solid grey; */
  margin: 30px 20px 50px -20px;
}
.unorder {
  font-size: 20px;
  word-spacing: 2px;
  line-height: 40px;
  margin: 10px 0px 0px 0px;
}

.home {
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  margin: 0px 10px 0px 10px;
  padding: 10px 25px 10px 25px;
  border: none;
}
img {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
  padding: 30px 0px 100px 0px;
  height: 300px;
  width: 220px;
  margin: -350px 23px -350px 23px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
img:hover {
  transform: scale(1.25);
}
button {
  margin: 260px 20px 20px 20px;
  font-size: 18px;
  border-radius: 10px;
}
button:hover {
  background-color: blue;
  color: azure;
}
a {
  text-decoration: none;
  color: black;
}
